@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*-----------------------------------------Colours */
.ui-menu-color-home {
    background-color: #9EC3ED;
}
.ui-menu-color-golf {
    background-color: #384D16;
}
.ui-menu-color-media {
    background-color: #CCC8BC;
}
.ui-menu-color-contact {
    background-color: #141D35;
}
.bg-color-news{
   background-color:  #CCC8BC;
}

.bg-color-history{
    background-color:#f4f4f4;
}
/*-----------------------------------------Heading */
header{
    margin: 0;
}
.logo {
    width: 100%;
    min-height: 100px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.modal-text{
    text-align: center;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

#nav {
    margin: 0;
    width: 100%;
    display: contents;
}

#nav li {
    padding: 0;
    border-radius: 20px;
    width: 100%;
}
.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}
.menuitem a i {
    padding-top: 25px;
    display: block;
    color: white;
    font-size: 26px;
}
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------------------------------Section*/

.section-column{
    border-radius: 20px;
}

.news-feature {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.roda-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
.caption {
    display: block;
    width: 100%;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 100;
    
}

.list-group{
    margin-bottom: 15px;
}

.list-group-item{
    font-family: "Exo", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
}


/*-----------------------------------------Footer */

footer {
    background-color:  #CCC8BC;
    margin: 0;
    border-radius:20px;
}


.footer-info{
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer-social{
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #141D35;
    background: #9EC3ED;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #FFFFFF;
}


/*-----------------------------------------Special Paddings/Margins-text*/
h1,
h2,
h3,
h4 {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}